

body {
    background-image: url('../Multimedia/fondo-ladrillo.jpg');
    background-repeat: no-repeat;
    background-size: cover ; 
    font-family: 'Acme', sans-serif;
    font-family: 'Acme', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 4px 5px 22px #3e3e3e
}