  
  .fondo-footer-header {
    background-color:#232323;
}

  /* alineacion de header*/
//    header img, nav, .navega, header{
//     display: flex;
//     align-items: center;
   
// }
/* achicar tamaño de logo */

/* ****************************ANIDAMIENTO************** HEADER IMG */
header {
     
      img { width: 100px;
        height: 100px;
        margin: 0px 103px 0px 20px;
       }
       

      }
    .borde-nav-responsive{
      border-radius: 5px;
  }
  